.rocksGlass {
  width: 100px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form input {
  height: 58px;
  width: 290px;
}

form button {
  background: #6ce34f;
  border-style: none;
  height: 58px;
  width: 290px;
}

div {
  margin: 20px;
  text-align: center;
}
