.recipes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.recipe-card {
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 9px 0 4.9px;
  text-decoration: none;
  width: 46.5%;
}

.recipe-card img {
  border-radius: 6px 6px 0 0;
  width: 100%;
}

p {
  color: black;
  font-family: Open Sans , sans-serif;
  margin: 15px 0 10px 5px;
  padding-left: 5px;
}

ul {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin-bottom: 55px;
  padding: 0;
  width: 100%;
}
