.img-in-progress {
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 9px 0 4.9px;
  text-align: center;
}

.nocheck {
  position: absolute;
}

.check {
  text-decoration: line-through;
}

.in-progress {
  background-color: rgb(240, 237, 237);
  border-radius: 15px;
  margin-left: 50px;
  width: 250px;
}

.midle {
  margin-left: 20px;
  margin-top: 10px;
}
