.filter-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0;
  margin-top: 10px;
  width: 100%;
}

.category-button {
  border: 1 solid;
  box-shadow: 1px 1px 0 0 , 2px 2px 0 0 , 3px 3px 0 0;
  color: black;
  cursor: pointer;
  font-family: Open Sans , sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  letter-spacing: 2px;
  margin-bottom: 7px;
  padding: 0;
  text-transform: uppercase;
  transition: background-color 0.35s;
  width: 30%;
}

.selected {
  background-color: rgb(255, 238, 70);
}
