.nav {
  align-items: center;
  background-color: brown;
  color: azure;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}

.profile {
  height: 17px;
  width: 10px;
}

.profilebtn {
  border-radius: 20%;
  box-shadow: inset 0 0 1em rgb(199, 216, 231) , 0 0 1em rgb(255, 25, 25);
}

.searchbtn {
  border-radius: 20%;
  box-shadow: inset 0 0 1em rgb(199, 216, 231) , 0 0 1em rgb(255, 25, 25);
}

.search {
  height: 17px;
  width: 10px;
}

.invisiblebtn {
  visibility: hidden;
}

.titulopage {
  font-size: 20px;
  margin-top: 2px;
  position: fixed;
}
