.nocheck {
  position: absolute;
}

.check {
  text-decoration: line-through;
}

.in-progress {
  background-color: rgb(240, 237, 237);
  border-radius: 15px;
  margin-left: 50px;
  width: 250px;
}

.midle {
  margin-left: 20px;
  margin-top: 10px;
}
